{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
	<div class="container">
		{% set employee = rv %}
		<div class="text-left">
			<a class="btn btn-primary" href="/edit/{{ employee.employee_id }}" role="button">Edit</a>
			<a class="btn btn-primary" href="/delete/{{ employee.employee_id }}" role="button">Delete</a>
			<a class="btn btn-primary" href="{{ url_for('index') }}" role="button">Cancel</a>
		</div>
		
		<div>
			<ul class="list-group">
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<h2>
						{{ employee.lname }}, {{ employee.fname }} {{ employee.minit }}.
						{% set cost = 1000 %}
							{% if employee.fname[0:1].upper() == 'A' %}
							{% set cost = cost * 0.9 %}
						{% endif %}
							
						{% set dep_not_A = employee.dependents - employee.dependentsA %}
						{% set cost = cost + (500 * dep_not_A) %}
						{% set cost = cost + ((500 * employee.dependentsA) * 0.9) %}
					</h2>
					<h2><span class="badge badge-primary badge-pill">$ {{ '{:20,.2f}'.format(cost) }}</span></h2>
				</li>

				<li class="list-group-item d-flex justify-content-between align-items-center">
					<strong>Company ID:</strong> {{ employee.company_id }}
				</li>

				<li class="list-group-item d-flex justify-content-between align-items-center">
					<strong>Employee ID:</strong> {{ employee.employee_id }}
				</li>
				
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<strong>Email:</strong> {{ employee.email }}
				</li>

				<li class="list-group-item d-flex justify-content-between align-items-center">
					<strong>Total Dependents:</strong> {{ employee.dependents }}
				</li>

				<li class="list-group-item d-flex justify-content-between align-items-center">
					<strong>Letter 'A' Dependents:</strong> {{ employee.dependentsA }}
				</li>

				<li class="list-group-item d-flex justify-content-between align-items-center">
					<strong>Gross Salary:</strong> $ {{ '{:20,.2f}'.format(employee.salary) }}
				</li>

				<li class="list-group-item d-flex justify-content-between align-items-center">
					<strong>Net Salary:</strong> $ {{ '{:20,.2f}'.format(employee.salary - cost) }}
				</li>

			</ul>
		</div>
	</div>
	{% endif %}
{% endblock %}
