{% extends "layout.html" %}
{% block body %}
	<div class="container">
	<h1>Register</h1>
	{% if error %}
		<div class="alert alert-danger">
		{{ error }}
		</div>
	{% endif %}
	{% from "_formhelpers.html" import render_field %}
	<form method="POST" action="{{ url_for('register') }}">
 	   	{{ form.csrf_token }}
		{{ render_field(form.fname, class_="form-control") }}
		{{ render_field(form.lname, class_="form-control") }}
		{{ render_field(form.email, class_="form-control") }}
		{{ render_field(form.confirm_email, class_="form-control") }}
		{{ render_field(form.password, class_="form-control") }}
		{{ render_field(form.confirm_password, class_="form-control") }}
		{{ render_field(form.company_id, class_="form-control") }}
		<div class="text-center">
			<button type="submit" class="btn btn-primary">Register</button>
			<a class="btn btn-primary" href="{{ url_for('index') }}" role="button">Cancel</a>
		</div>
	</form>
	</div>
{% endblock %}

